body {
  background-color: steelblue;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: white;
}
div {
  display: block;
}
#title,
#description {
  color: white;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 1.5rem;
}
#description {
  font-style: italic;
}
form {
  background-color: rgba(27, 27, 50, 0.8);
  width: 50%;
  margin: 10px auto;
  font-size: 2rem;
}
input,
select {
  width: 100%;
  margin: 10px 0px;
  border: 0;
  padding: 0;
  height: 30px;
  border-radius: 10px;
}

textarea {
  width: 100%;
  padding: 0;
}

input[type="button"] {
  font-size: 30px;
  cursor: pointer;
  opacity: 0.5;
  padding-bottom: 10px;
}

input[type="button"]:hover {
  opacity: 1;
}
label {
  display: block;
  margin: 0.5rem 0;
}

.inline {
  width: unset;
  margin: 0 0.5rem 0 0.5rem;
  vertical-align: middle;
  width: 2.5%;
}

input[type="submit"] {
  display: block;
  width: 40%;
  margin: 1em auto;
  border-color: white;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 0px;
}
